.main_ctn{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.ctn
{
    width: 20vw;
    height: auto;
    margin-bottom: 20vh;
    background-color: white;
    box-shadow: 2px 2px 8px 1px lightgray;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vh 1vw;
}
.exit{
    position: absolute;
    top: 260px;
    right: 790px;
    background-color: lightgray;
    padding: 0.2vh 0.3vw;
    border-radius: 16px;
    color: white;
}
.exit:hover{
    background-color: gray;
    cursor: pointer;
}
.tilte{
    color: rgb(199, 11, 11);
    font-size: 1.5rem;
    font-weight: 600;
}
.line{
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
    height: 8vh;
}
.btn_ctn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 18vw;
}
.btn_ctn button{
    font-weight: 500;
    font-size: 1.1rem;
    border:none;
    width: 8.5vw;
    height: 6vh;
    display: flex;
    justify-content: center;
    border-radius: 12px;
    transition: 1s;
}
.btn_ctn button:nth-of-type(1){
    background-color: white;
    border: 2px solid rgb(197, 52, 52);
    color:rgb(197, 52, 52);
}
.btn_ctn button:hover{
    cursor: pointer;
    transform: scale(1.04);
}
.btn_ctn button:nth-of-type(2){
    background-color: rgb(230, 58, 58);
    color: white;
}