.ctn{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.locate{
    width: 22vw;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    background:none;
    margin-bottom: 20vh;
}
.top{
    display: flex;
    flex-direction: row;
    gap: 13px;
    padding: 1.5vh 0.5vw;
    background-color: rgb(223, 46, 66);
    border-radius: 8px 8px 0px 0px;
}
.top input{
    width: 20vw;
    height: 4vh;
    padding: 1vh 2vw;
    border-radius: 6px;
    outline: none;
    border: none;
}
.top input::placeholder{
    font-size: 1.2rem;
    color: lightgray;
}
.top input:focus{
    border: 2px solid darkred;
    outline: none;
}
.glass {
    position: absolute;
    color: lightgray;
    font-size: 0.8rem;
    margin-top: 12px;
    margin-left: 16px;
}
.top div{
    display: flex;
    flex-direction: row ;
    justify-content: center;
    align-items: center;
    gap:5px;
    color: white;
}
.top div:hover{
    cursor: pointer;
}
.top div p{
    font-size: 1.2rem;
}
.top div svg{
    margin-top: 5px;
}
.bot{
    width: 22vw;
    height: 48vh;
    background-color: white;
    border-radius: 0px 0px 8px 8px;
    padding: 1vh 0.5vw;
    overflow-y: scroll;
}
.description{
    font-size: 0.9rem;
    color: gray;
    font-weight: 400;
    height: 6vh;
}
.cards{
    display: grid;
     grid-template-columns: repeat(2, 1fr);
}
.card{
    font-weight: 400;
    width: 9vw;
    height: 5vh;
    padding: 0.5vh 0.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
     border-bottom: 0.1px solid lightgray;
     font-size: 1rem;
     border-radius: 4px;
}
.card:hover{
    cursor: pointer;
    background-color: rgba(207, 138, 146, 0.452);
}
.card div{
    background-color: rgb(223, 46, 66) ;
    width: 0.8vw;
    height: 1.6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.card svg{
    font-size: 0.7rem;
    color: white;
}