.ctn{
    width: 70vw;
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
}
.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.title{
    font-size: 1.4rem;
    font-weight: bold;
}
.btn_ctn{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 1vh 0vw;
}
.btn_ctn button{
    background-color: rgb(235, 229, 229);
    border: 1px solid lightgray;
    border-radius: 12px;
    padding: 1vh 1vw;
}
.btn_ctn button:hover{
    cursor: pointer;
}
.cards{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 0.2vh 0.3vw;
    gap: 0.8vw;
    margin-top: 2vh;
}
